.table-wrapper {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.content-table {
  width: 100%;
}

.table-row {
  cursor: pointer;
}

.table-title, .table-cell {
  min-width: 200px;
  max-width: 250px;
  word-wrap: break-word;
}

.table-title {
  position: relative;
  cursor: default;
}

.table-cell {
  vertical-align: middle;
}

i {
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.up {
  top: 10px;
  right: 10px;
  transform: rotate(-135deg);
}

.down {
  bottom: 10px;
  right: 10px;
  transform: rotate(45deg);
}

i:hover {
  border-color: rgb(42, 98, 219);
}

@media screen and (max-width: 1170px) {
  .table-wrapper {
    max-width: 90%;
  }
}